@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-black dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.rgb {
  animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Wave styling */
.wave {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg");
  background-size: 50% 100%;
  animation: wave 8s linear infinite;
}
